body{
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: darkcyan;
}
header, footer{
    /* a virgula é um agrupamento, a formataca entre chaves se aplica a ambas as marcacoes */
    text-align: center;
}
header{
    background-color: rgb(3, 112, 112);
    padding: 2rem;
    margin: 1rem;
    border: 3px double black;
}
header a{
    color:blue;
}
header a:hover{
    color: darkblue;
}
header nav li{
    /* espaco representa especificidade */
    display: inline-block;
}
main{
    padding: 2rem;
    max-width: 70rem;
    /* largura maxima : define a largura maxima. se a pagina fisica ficar menor que essa largura, a pagina fica com uma barra de rolagem */
    margin: 0 auto;
    background-color: cyan;
    border: 3px double black;
}