/* header{
    background-image: url(Imagens/bg.png);
    background-repeat: no-repeat;
    background-size: auto;
}
h1{
    text-align: center;
    color: white;
    padding: 10px;
    margin: 10px;
}
nav{
    display: flex;

} */