body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
/*formatacao para todos os headers*/
header{
    background-image: url(imagens/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 1rem;
    padding-top: 1rem;
}
h1{padding: 4rem;}
h1 a:link{color: white;}
h1 a:visited{color: white;}

.menu_paginas a:link{color: white;}
.menu_paginas a:visited{color: white;}

.menu_paginas{
    background: rgba(0, 0, 0, 0.4);
    padding: 1rem;
}
.menu_paginas ul{
    list-style-type: none;

    display: flex;
    justify-content: center;
}
.menu_paginas li{padding-right: 4rem;}
/* formatacao para TODOS os mains */
main{
    margin: 4rem;
    text-align: center;
    font-size: 16px;
}
/*formatacao para index - main*/
#informacoes{
    margin-right: 5rem;
    margin-left: 5rem;
    padding: 4rem;
    padding-top: 1rem;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#informacoes div{
    width: 18rem;
    height: 18rem;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;

    color: white;
    text-align: center;

    background-image: url(imagens/bg-boxes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#informacoes div a:link{color: white;}
#informacoes div a:visited{color: white;}

/* formatacao para o footer */
footer{
    background-image: url(imagens/bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 1rem;
    padding-top: 8px;
}
.menu_redes ul{
    list-style-type: none;

    display: flex;
    justify-content: flex-end;
}
.menu_redes li{
    padding: 12px;
}
/* formatacao para horarios - main */
.tabela_horarios{border: 2px solid black;}
.tabela_horarios th, td{
    border: 1px solid black;
    width: 16rem;
    /* quase nenhuma diferenca entre 16 e 17 rem */
    padding: 1rem;
}
/* formatacao para olimpiadas - main */
/* nao tem formatacao, a pagina so tem alguns p's e nada mais */

/* formatacao para livros - main */
#main_livros article{
    display: flex;
    justify-content: space-between;
}
#main_livros img{
    margin: 1rem;
    padding: 4px;
    border: 4px solid black;
}
#main_livros p{
    text-align: left;
}